<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/table.css">
    <script type="text/javascript"> 
        window.authors = null;
        window.listTable = null;
        window.isAlowedToEdite = false;
        window.isAlowedToDelete = false;
        
        function getDataAndAlowedActions() {
            fetch('api/authors/accessToEdit').then(resp => {
                                                    if(resp.ok) {
                                                        window.isAlowedToEdite = true;
                                                        document.getElementById('addButton').style.display = 'inline-block';
                                                    }
                                                });
            fetch('/api/authors/accessToDelete').then(resp => {
                                                    if(resp.ok) {
                                                        window.isAlowedToDelete = true;
                                                    }
                                                });            
            
            fetch('/api/authors').then((response) => response.json())
                                 .then((list) => {
                                         window.authors = list;
                                         window.listTable = document.getElementById('listTable');
                                         for(author of list) {
                                            addRow(author);
                                         }
                                     });
        }
        
        function addRow(author) {            
            
            let tr = document.createElement('tr');
            tr.setAttribute('id', `tabRowId_${author.id}`);
            let td = document.createElement('td');
            td.innerHTML = author.id;
            tr.appendChild(td);
            td = document.createElement('td');
            td.innerHTML = author.firstName + ' ' + author.lastName;
            tr.appendChild(td);
            
            td = document.createElement('td');
            td.setAttribute('align', 'center'); 
            for(let i = 1; i < 3; i++) {
                let a = document.createElement('a');  
                a.style.cursor = 'pointer'; 
                a.style.marginLeft = '10px';
                let img = document.createElement('img');
                if(i == 1) {
                    a.setAttribute('onclick', `form(${author.id})`);
                    img.setAttribute('src', 'pict/Edit.png');
                }
                else {
                    a.setAttribute('onclick', `remove(${author.id})`);
                    img.setAttribute('src', 'pict/Remove.png');
                }

                a.appendChild(img);
                if((window.isAlowedToEdite == true && i == 1) || (window.isAlowedToDelete == true && i == 2)) {
                    td.appendChild(a);                    
                }
            }
            if(window.isAlowedToEdite == true || window.isAlowedToDelete == true) {                                        
                tr.appendChild(td);
            }            
            window.listTable.appendChild(tr);
        }
        
        function form(id) {
            changeVisibility('list');
            cleanUpForm();
            if(id && window.authors) {
                for(author of window.authors) {
                    if(author.id == id) {
                        let authorId = document.getElementById('authorId');
                        authorId.value = author.id;
                        let firstName = document.getElementById('firstName');
                        firstName.value = author.firstName;
                        let lastName = document.getElementById('lastName');
                        lastName.value = author.lastName;
                    }
                }
            }
        }
        
        function remove(id) {
            fetch(`/api/author/${id}`, { method: 'DELETE' })
                .then((response) => {
                    if(response.ok) {
                        let tr = document.getElementById(`tabRowId_${id}`);
                        tr.remove();
                    }
                    else {
                        console.error('There was an error!');                        
                    }
                });
        }
        
        function action(act) {            
            switch(act) {
                case 'SAVE':
                    let authorId = document.getElementById('authorId').value,
                        firstName = document.getElementById('firstName').value,
                        lastName = document.getElementById('lastName').value;
                    let author = { "id": authorId, "firstName": firstName, "lastName": lastName };
                    if(authorId) {
                       fetch('/api/author', { method: 'PUT',
                                               headers: { 'Content-Type': 'application/json;charset=utf-8' },
                                               body: JSON.stringify(author)
                                             })
                        .then((response) => response.json())
                        .then((author) => {
                            let modifyRow = document.getElementById(`tabRowId_${author.id}`).childNodes;
                            modifyRow[0].innerHTML = author.id;
                            modifyRow[1].innerHTML = author.firstName + ' ' + author.lastName; 
                            let index = -1;
                            for(let i = 1; i < window.authors.length; i++) {
                                if(authorId == window.authors[i].id) index = i;
                            }
                            if(index !== -1) {
                                window.authors.splice(index, 1);
                            }
                            window.authors.push(author);
                            changeVisibility('form');
                        });
                    }
                    else {
                        fetch('/api/author', { method: 'POST',
                                               headers: { 'Content-Type': 'application/json;charset=utf-8' },
                                               body: JSON.stringify(author)
                                             })
                        .then((response) => response.json())
                        .then((author) => {
                            window.authors.push(author);
                            addRow(author);                            
                            changeVisibility('form');
                        });
                    }
                    
                    break;
                case 'BACK':
                    changeVisibility('form');
                    break;
            }
        }
        
        function cleanUpForm() {
            document.getElementById('authorId').value = '';
            document.getElementById('firstName').value = '';
            document.getElementById('lastName').value = '';
        }
        
        function changeVisibility(blockId) {
            let list = document.getElementById('list'),
                form = document.getElementById('form')
                addB = document.getElementById('addB');
            switch(blockId) {
                case 'list':
                    list.style.display = 'none';  
                    form.style.display = 'block';
                    addB.style.display = 'none';
                    break;
                case 'form':
                    list.style.display = 'block';
                    form.style.display = 'none';
                    addB.style.display = 'block';
                    break;
            }
        }        
    </script>
    
</head>
<body onload="getDataAndAlowedActions()"> 
    <div id="container">
        <div id="header">Электронная библиотека</div>
        <div id="sidebar">
            <p><a class="button" href="/">Главная</a></p>
        </div>
        <div id="content">
            <div id="addB">
                <a class="button" id="addButton" title="Добавить" onclick="form()" style="display: none;">Добавить</a>
            </div>       
            
            <div id="list" style="display: block;">
                <table id="listTable" border="1" width="100%" >
                    <col width="5%" valign="top">
                    <col width="85%" valign="top">
                    <col width="10%" valign="top">
                    <tr>
                        <th>№</th>
                        <th>Фамилия Имя</th>
                        <th></th>
                    </tr>
                </table>
            </div>
            
            <div id="form" style="display: none;">
                <table id="formTable">
                    <tr hidden>
                        <td><label>ID</label></td>
                        <td><input id="authorId" type="text" /></td>
                    </tr>
                    <tr>
                        <td><label>Фамилия</label></td>
                        <td><input id="firstName" type="text" required /></td>
                    </tr>
                    <tr>
                        <td><label>Имя</label></td>
                        <td><input id="lastName" type="text" required /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button onclick="action('SAVE')">Сохранить</button>
                            <button onclick="action('BACK')">Отменить</button>
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
</body>
</html>