<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/table.css">
    <script type="text/javascript">
        window.genres = null;
        window.listTable = null;
        window.isAlowedToEdite = false;
        window.isAlowedToDelete = false;

        function getDataAndAlowedActions() {
            fetch('api/genres/accessToEdit').then(resp => {
                                                    if(resp.ok) {
                                                        window.isAlowedToEdite = true;
                                                        document.getElementById('addButton').style.display = 'inline-block';
                                                    }
                                                });
            fetch('/api/genres/accessToDelete').then(resp => {
                                                    if(resp.ok) {
                                                        window.isAlowedToDelete = true;
                                                    }
                                                });            
            fetch('/api/genres').then((response) => response.json())
                                .then((list) => {
                                        window.genres = list;
                                        window.listTable = document.getElementById('listTable');
                                        for(genre of list) {
                                            addRow(genre);
                                        }
                                    });
        }

        function addRow(genre) {

            let tr = document.createElement('tr');
            tr.setAttribute('id', `tabRowId_${genre.id}`);
            let td = document.createElement('td');
            td.innerHTML = genre.id;
            tr.appendChild(td);
            td = document.createElement('td');
            td.innerHTML = genre.name;
            tr.appendChild(td);
            td = document.createElement('td');
            td.setAttribute('align', 'center');
            for(let i = 1; i < 3; i++) {
                let a = document.createElement('a');
                a.style.cursor = 'pointer';
                a.style.marginLeft = '10px';
                let img = document.createElement('img');
                if(i == 1) {
                    a.setAttribute('onclick', `form(${genre.id})`);
                    img.setAttribute('src', 'pict/Edit.png');
                }
                else {
                    a.setAttribute('onclick', `remove(${genre.id})`);
                    img.setAttribute('src', 'pict/Remove.png');
                }

                a.appendChild(img);
                if((window.isAlowedToEdite == true && i == 1) || (window.isAlowedToDelete == true && i == 2)) {
                    td.appendChild(a);                    
                }
            }
            if(window.isAlowedToEdite == true || window.isAlowedToDelete == true) {                                        
                tr.appendChild(td);
            }
            window.listTable.appendChild(tr);
        }

        function form(id) {
            changeVisibility('list');
            cleanUpForm();
            if(id && window.genres) {
                for(genre of window.genres) {
                    if(genre.id == id) {
                        let genreId = document.getElementById('genreId');
                        genreId.value = genre.id;
                        let genreName = document.getElementById('genreName');
                        genreName.value = genre.name;
                    }
                }
            }
        }

        function remove(id) {
            fetch(`/api/genre/${id}`, { method: 'DELETE' })
                .then((response) => {
                    if(response.ok) {
                        let tr = document.getElementById(`tabRowId_${id}`);
                        tr.remove();
                    }
                    else {
                        console.error('There was an error!');
                    }
                });
        }

        function action(act) {
            switch(act) {
                case 'SAVE':
                    let genreId = document.getElementById('genreId').value,
                        genreName = document.getElementById('genreName').value;
                    let genre = { "id": genreId, "name": genreName };
                    if(genreId) {
                       fetch('/api/genre', { method: 'PUT',
                                               headers: { 'Content-Type': 'application/json;charset=utf-8' },
                                               body: JSON.stringify(genre)
                                             })
                        .then((response) => response.json())
                        .then((genre) => {
                            let modifyRow = document.getElementById(`tabRowId_${genre.id}`).childNodes;
                            modifyRow[0].innerHTML = genre.id;
                            modifyRow[1].innerHTML = genre.name;
                            let index = -1;
                            for(let i = 1; i < window.genres.length; i++) {
                                if(genreId == window.genres[i].id) index = i;
                            }
                            if(index !== -1) {
                                window.genres.splice(index, 1);
                            }
                            window.genres.push(genre);
                            changeVisibility('form');
                        });
                    }
                    else {
                        fetch('/api/genre', { method: 'POST',
                                               headers: { 'Content-Type': 'application/json;charset=utf-8' },
                                               body: JSON.stringify(genre)
                                             })
                        .then((response) => response.json())
                        .then((genre) => {
                            window.genres.push(genre);
                            addRow(genre);
                            changeVisibility('form');
                        });
                    }

                    break;
                case 'BACK':
                    changeVisibility('form');
                    break;
            }
        }

        function cleanUpForm() {
            document.getElementById('genreId').value = '';
            document.getElementById('genreName').value = '';
        }

        function changeVisibility(blockId) {
            let list = document.getElementById('list'),
                form = document.getElementById('form')
                addB = document.getElementById('addB');
            switch(blockId) {
                case 'list':
                    list.style.display = 'none';
                    form.style.display = 'block';
                    addB.style.display = 'none';
                    break;
                case 'form':
                    list.style.display = 'block';
                    form.style.display = 'none';
                    addB.style.display = 'block';
                    break;
            }
        }
    </script>

</head>
<body onload="getDataAndAlowedActions()">
<div id="container">
    <div id="header">Электронная библиотека</div>
    <div id="sidebar">
        <p><a class="button" href="/">Главная</a></p>
    </div>
    <div id="content">
        <div id="addB">
            <a id="addButton" class="button" title="Добавить" onclick="form()" style="display: none;">Добавить</a>
        </div>

        <div id="list" style="display: block;">
            <table id="listTable" border="1" width="100%" >
                <col width="5%" valign="top">
                <col width="85%" valign="top">
                <col width="10%" valign="top">
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th></th>
                </tr>
            </table>
        </div>

        <div id="form" style="display: none;">
            <table id="formTable">
                <tr hidden>
                    <td><label>ID</label></td>
                    <td><input id="genreId" type="text" /></td>
                </tr>
                <tr>
                    <td><label>Название</label></td>
                    <td><input id="genreName" type="text" required /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button onclick="action('SAVE')">Сохранить</button>
                        <button onclick="action('BACK')">Отменить</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>