<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testQuestionDaoCSV" class="ru.otus.homeWork.repositories.QuestionDaoCsv">
        <constructor-arg name="csvPath" value="/testContenet.csv"/>
    </bean>

    <bean id="testQuestionService" class="ru.otus.homeWork.service.impl.QuestionServiceImpl">
        <constructor-arg name="dao" ref="testQuestionDaoCSV"/>
    </bean>
</beans>