<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="container">
    <div id="header">Электронная библиотека</div>
    <div id="sidebar">
        <p><a class="button" href="/">Главная</a></p>
    </div>
    <div id="content">

        <form id="edit-form" action="edit.html" th:object="${book}" th:method="post" th:action="@{/book/edit}" >
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input type="text" name="id" readonly="readonly" th:value="*{id}" /></td>
                </tr>
                <tr>
                    <td><label>Название</label></td>
                    <td><input type="text" name="name" th:value="*{name}" required /></td></td>
                </tr>
                <tr>
                    <td><label>Год выпуска</label></td>
                    <td><input type="text" name="publishingYear" th:value="*{publishingYear}" required /></td></td>
                </tr>
                <tr>
                    <td><label>Автор</label></td>
                    <td>
                        <select name="authorId" required="true">
                            <option th:each="author : ${authors}" th:value="${author.id}" th:selected="${author.id}==*{author.id}"
                                    th:text="${author.firstName} + ' ' + ${author.lastName}">
                        </select>
                        <!--<input type="text" name="publishingYear" th:value="*{publishingYear}" />-->
                    </td>
                </tr>
                <tr>
                    <td><label>Жанр</label></td>
                    <td>
                        <select name="genreId" required="true">
                            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}" th:selected="${genre.id}==*{genre.id}">
                        </select>
                        <!--<input type="text" name="publishingYear" th:value="*{publishingYear}" />-->
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Сохранить</button>
                        <a href="" th:href="@{/book}">
                            <button type="button">Отменить</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>