<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
<div id="container">
    <div id="header">Электронная библиотека</div>
    <div id="sidebar">
        <p><a class="button" href="/">Главная</a></p>
    </div>
    <div id="content">
        <a class="button" href="" th:href="@{book/add}"  title="Добавить">Добавить</a>
        <table border="1" width="100%">
            <col width="5%" valign="top">
            <col width="40%" valign="top">
            <col width="10%" valign="top">
            <col width="20%" valign="top">
            <col width="15%" valign="top">
            <col width="10%" valign="top">
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Год</th>
                <th>Автор</th>
                <th>Жанр</th>
                <th></th>
            </tr>
            <tr th:each="book : ${books}">
                <td align="center" th:text="${bookStat.index} + 1" />
                <td align="left" th:text="${book.name}" />
                <td align="center" th:text="${book.publishingYear}" />
                <td align="center" th:text="${book.author.firstName} + ' ' + ${book.author.lastName}" />
                <td align="center" th:text="${book.genre.name}" />
                <td align="center">
                    <form action="" th:action="@{/book/remove(id=${book.id})}" th:method="post">
                        <a href=""
                           th:href="@{/book/edit(id=${book.id})}"><img src="pict/Edit.png"></a>
                        <input type="image" src="pict/Remove.png" alt="submit"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>