<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="container">
    <div id="header">Электронная библиотека</div>
    <div id="sidebar">
        <p><a class="button" href="/">Главная</a></p>
    </div>
    <div id="content">

        <form id="edit-form" action="edit.html" th:object="${genre}" th:method="post" th:action="@{/genre/edit}" >
            <table>
                <tr>
                    <td><label>ID</label></td>
                    <td><input id="id-input" type="text" name="id" readonly="readonly" th:value="*{id}" /></td>
                </tr>
                <tr>
                    <td><label>Фамилия</label></td>
                    <td><input id="name-input" type="text" name="name" th:value="*{name}" required /></td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Сохранить</button>
                        <a href="list.html" th:href="@{/authors}">
                            <button type="button">Отменить</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>